## Exploratory Analysis USA:
#### In this Jupyter Notebook you will find the process of exploratory Analysis of the file Clean_Insurance_USA.csv.

In [7]:
import pandas as pd
import numpy as np

In [8]:
usa = pd.read_csv('../Data/Clean_data/Clean_Insurance_USA.csv', index_col=0)

In [9]:
usa.columns

Index(['Customer', 'State', 'Coverage', 'Education', 'Job_Status', 'Gender',
       'Income', 'Location', 'Civil_Status', 'Monthly_Price',
       'Months_LastClaim', 'Months_SinceActivation', 'Number_Open_Complaints',
       'Number_Insurances', 'Policy_Type', 'Sales_Channel', 'Car_Type',
       'Car_Size'],
      dtype='object')

In [10]:
#Gender dummy
dummy = pd.get_dummies(usa, columns = ['Civil_Status', 'Location', 'Policy_Type', 'Education'],drop_first=True )
gender.rename(columns = {'M':'Gender_dummy'})
usa_dummy = pd.concat([usa,dummy], axis=1)

In [14]:
dummy_test = pd.get_dummies(usa.Civil_Status, columns=['Civil_Status'])
dummy_test.head()

   Divorced  Married  Single
0         0        1       0
1         0        0       1
2         0        1       0
3         0        1       0
4         0        0       1

In [11]:
usa_dummy.head()

,Customer,State,Coverage,Education,Job_Status,Gender,Income,Location,Civil_Status,Monthly_Price,...,Civil_Status_Married,Civil_Status_Single,Location_Suburban,Location_Urban,Policy_Type_Personal Auto,Policy_Type_Special Auto,Education_College,Education_Doctor,Education_High School or Below,Education_Master
0,BU79786,Washington,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,...,1,0,1,0,0,0,0,0,0,0
1,QZ44356,Arizona,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,...,0,1,1,0,1,0,0,0,0,0
2,AI49188,Nevada,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,...,1,0,1,0,1,0,0,0,0,0
3,WW63253,California,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,...,1,0,1,0,0,0,0,0,0,0
4,HB64268,Washington,Basic,Bachelor,Employed,M,43836,Rural,Single,73,...,0,1,0,0,1,0,0,0,0,0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

#This code uses the reshape function to change the input into a two dimensional numpy array 
#since this is the input that the function takes.
census['TotalPopScaled'] = MinMaxScaler().fit_transform(census.TotalPop.values.reshape(-1,1))
census.TotalPop.values.reshape(-1,1)